.slideshow-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-image {
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
  box-shadow: 5px 5px 31px 4px rgba(0, 0, 0, 0.4);
}
